.knackListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid;
    border-radius: 5px;
    border-width: thin;
    width: 500px;
}

.navbar {
    background-color: white !important;
}

.knackListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    margin-right: 0px;
    background-color: #3e99ed;
    color: white;
    border: 2px solid #3e99ed;
    border-radius: 3px;
    width: 70px;
}

.knackListMain .header button:hover {
    cursor: pointer;
}

button.btn.btn-light {
    float: right;
    vertical-align: center;
    margin: -6px;
    background-color: lightgrey;
}

.knackListMain .theList li {
    color: black;
    padding: 15px;
    border-radius: 10px;
    border: solid;
    border-width: thin;
    list-style: none;
    width: 570px;
    transition: background-color .2s ease-out;
}

.knackListMain .theList li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
    text-emphasis: bold;
}

ul.theList {
    padding: 0;
}

form {
    text-align: center;
}

.knackListMain .theList li {
    margin: 0 auto;
    margin-bottom: 15px;
}

.navbar .navbar-brand {
    font-size: 32px;
    margin-left: 40px;
}




